<!-- <p>index works!</p> -->
<owl-carousel-o [options]="customOptions" class="banner-wrapper  header-carousel">
    <ng-container *ngFor="let slide of carouselSlides">
        <ng-template carouselSlide>
            <div class="top-0 start-0 w-100 d-flex align-items-center bg-banner {{ slide.bgClass }}"
                style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start h-100">
                        <div class="col-sm-10 col-lg-8 h-100">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">{{ slide.title }}</h5>
                            <h1 class="display-3 text-white animated slideInDown">{{ slide.subtitle }}</h1>
                            <p class="fs-5 text-white mb-4 pb-2">{{ slide.description }}</p>
                            <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">{{ slide.btn1Text }}</a>
                            <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">{{ slide.btn2Text }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-container>
</owl-carousel-o>

<!-- Services -->
 <app-services></app-services>
<!-- Services -->

<!-- Services -->
<app-about-us></app-about-us>
<!-- Services -->

<!-- categories -->
<app-categories></app-categories>
<!-- categories -->

<!-- course -->
<app-course></app-course>
<!-- course -->
 
<!-- testimonial -->
<app-testimonial></app-testimonial>
<!-- testimonial -->

<!-- contact -->
<app-contact></app-contact>
<!-- contact -->